<component name="libraryTable">
  <library name="logback-android-classic-1.0.10-2">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.tony19/logback-android-classic/1.0.10-2/cc20caaba89f3e287435aa076145d0c083e7fa08/logback-android-classic-1.0.10-2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.tony19/logback-android-classic/1.0.10-2/6cf40f0fba5266902644f2de113dab8106dce2a2/logback-android-classic-1.0.10-2-sources.jar!/" />
    </SOURCES>
  </library>
</component>