<component name="libraryTable">
  <library name="logback-android-core-1.0.10-2">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.tony19/logback-android-core/1.0.10-2/7e0b2eae5e8520f7bf686ba64ff3e08c5f0b05ea/logback-android-core-1.0.10-2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/com.github.tony19/logback-android-core/1.0.10-2/967d0bf2585183bd0e273e0e942896d9dce52b95/logback-android-core-1.0.10-2-sources.jar!/" />
    </SOURCES>
  </library>
</component>