<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="br.com.arndroid.etdiet">

    <uses-sdk />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.ETDApp"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:backupAgent=".backups.android.AndroidBackupAgentHelper"
        android:supportsRtl="false"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIcHuMZh1M2qO4UBAYn8yDJ6Nm_zTb74-obT4dCg"/>

        <activity
            android:name=".journal.JournalActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".foodsusage.FoodsUsageActivity"
            android:label="@string/app_name"
            android:parentActivityName=".journal.JournalActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.etdiet.journal.JournalActivity" />
        </activity>

        <activity
            android:name=".settings.SettingsMainActivity"
            android:label="@string/settings"
            android:parentActivityName=".journal.JournalActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.etdiet.journal.JournalActivity" />
        </activity>

        <activity
            android:name=".settings.SettingsListActivity"
            android:parentActivityName=".settings.SettingsMainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.etdiet.settings.SettingsMainActivity" />
        </activity>

        <activity
            android:name=".weights.WeightsActivity"
            android:parentActivityName=".journal.JournalActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.etdiet.journal.JournalActivity" />
        </activity>

        <activity
            android:name=".backups.custom.BackupActivity"
            android:parentActivityName=".journal.JournalActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.etdiet.journal.JournalActivity" />
        </activity>

        <activity
            android:name=".forecast.ForecastActivity"
            android:parentActivityName=".journal.JournalActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.arndroid.etdiet.journal.JournalActivity" />
        </activity>

        <provider
            android:name=".provider.Provider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />

    </application>

</manifest>
